@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$font-family-base: 'Source Sans Pro', sans-serif !important;

// Colors
$custom-color-red: #b81b0e;

$custom-colors: (
  'custom-red': $custom-color-red,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../../node_modules/bootstrap/scss/bootstrap';
